/****** Script for SelectTopNRows command from SSMS  ******/

INSERT INTO [dbo].[IGE1]
           ([DocEntry]
           ,[LineNum]
           ,[TargetType]
           ,[TrgetEntry]
           ,[BaseRef]
           ,[BaseType]
           ,[BaseEntry]
           ,[BaseLine]
           ,[LineStatus]
           ,[ItemCode]
           ,[Dscription]
           ,[Quantity]
           ,[ShipDate]
           ,[OpenQty]
           ,[Price]
           ,[Currency]
           ,[Rate]
           ,[DiscPrcnt]
           ,[LineTotal]
           ,[TotalFrgn]
           ,[OpenSum]
           ,[OpenSumFC]
           ,[VendorNum]
           ,[SerialNum]
           ,[WhsCode]
           ,[SlpCode]
           ,[Commission]
           ,[TreeType]
           ,[AcctCode]
           ,[TaxStatus]
           ,[GrossBuyPr]
           ,[PriceBefDi]
           ,[DocDate]
           ,[Flags]
           ,[OpenCreQty]
           ,[UseBaseUn]
           ,[SubCatNum]
           ,[BaseCard]
           ,[TotalSumSy]
           ,[OpenSumSys]
           ,[InvntSttus]
           ,[OcrCode]
           ,[Project]
           ,[CodeBars]
           ,[VatPrcnt]
           ,[VatGroup]
           ,[PriceAfVAT]
           ,[Height1]
           ,[Hght1Unit]
           ,[Height2]
           ,[Hght2Unit]
           ,[Width1]
           ,[Wdth1Unit]
           ,[Width2]
           ,[Wdth2Unit]
           ,[Length1]
           ,[Len1Unit]
           ,[length2]
           ,[Len2Unit]
           ,[Volume]
           ,[VolUnit]
           ,[Weight1]
           ,[Wght1Unit]
           ,[Weight2]
           ,[Wght2Unit]
           ,[Factor1]
           ,[Factor2]
           ,[Factor3]
           ,[Factor4]
           ,[PackQty]
           ,[UpdInvntry]
           ,[BaseDocNum]
           ,[BaseAtCard]
           ,[SWW]
           ,[VatSum]
           ,[VatSumFrgn]
           ,[VatSumSy]
           ,[FinncPriod]
           ,[ObjType]
           ,[LogInstanc]
           ,[BlockNum]
           ,[ImportLog]
           ,[DedVatSum]
           ,[DedVatSumF]
           ,[DedVatSumS]
           ,[IsAqcuistn]
           ,[DistribSum]
           ,[DstrbSumFC]
           ,[DstrbSumSC]
           ,[GrssProfit]
           ,[GrssProfSC]
           ,[GrssProfFC]
           ,[VisOrder]
           ,[INMPrice]
           ,[PoTrgNum]
           ,[PoTrgEntry]
           ,[DropShip]
           ,[PoLineNum]
           ,[Address]
           ,[TaxCode]
           ,[TaxType]
           ,[OrigItem]
           ,[BackOrdr]
           ,[FreeTxt]
           ,[PickStatus]
           ,[PickOty]
           ,[PickIdNo]
           ,[TrnsCode]
           ,[VatAppld]
           ,[VatAppldFC]
           ,[VatAppldSC]
           ,[BaseQty]
           ,[BaseOpnQty]
           ,[VatDscntPr]
           ,[WtLiable]
           ,[DeferrTax]
           ,[EquVatPer]
           ,[EquVatSum]
           ,[EquVatSumF]
           ,[EquVatSumS]
           ,[LineVat]
           ,[LineVatlF]
           ,[LineVatS]
           ,[unitMsr]
           ,[NumPerMsr]
           ,[CEECFlag]
           ,[ToStock]
           ,[ToDiff]
           ,[ExciseAmt]
           ,[TaxPerUnit]
           ,[TotInclTax]
           ,[CountryOrg]
           ,[StckDstSum]
           ,[ReleasQtty]
           ,[LineType]
           ,[TranType]
           ,[Text]
           ,[OwnerCode]
           ,[StockPrice]
           ,[ConsumeFCT]
           ,[LstByDsSum]
           ,[StckINMPr]
           ,[LstBINMPr]
           ,[StckDstFc]
           ,[StckDstSc]
           ,[LstByDsFc]
           ,[LstByDsSc]
           ,[StockSum]
           ,[StockSumFc]
           ,[StockSumSc]
           ,[StckSumApp]
           ,[StckAppFc]
           ,[StckAppSc]
           ,[ShipToCode]
           ,[ShipToDesc]
           ,[StckAppD]
           ,[StckAppDFC]
           ,[StckAppDSC]
           ,[BasePrice]
           ,[GTotal]
           ,[GTotalFC]
           ,[GTotalSC]
           ,[DistribExp]
           ,[DescOW]
           ,[DetailsOW]
           ,[GrossBase]
           ,[VatWoDpm]
           ,[VatWoDpmFc]
           ,[VatWoDpmSc]
           ,[CFOPCode]
           ,[CSTCode]
           ,[Usage]
           ,[TaxOnly]
           ,[WtCalced]
           ,[QtyToShip]
           ,[DelivrdQty]
           ,[OrderedQty]
           ,[CogsOcrCod]
           ,[CiOppLineN]
           ,[CogsAcct]
           ,[ChgAsmBoMW]
           ,[ActDelDate]
           ,[OcrCode2]
           ,[OcrCode3]
           ,[OcrCode4]
           ,[OcrCode5]
           ,[TaxDistSum]
           ,[TaxDistSFC]
           ,[TaxDistSSC]
           ,[PostTax]
           ,[Excisable]
           ,[AssblValue]
           ,[RG23APart1]
           ,[RG23APart2]
           ,[RG23CPart1]
           ,[RG23CPart2]
           ,[CogsOcrCo2]
           ,[CogsOcrCo3]
           ,[CogsOcrCo4]
           ,[CogsOcrCo5]
           ,[LnExcised]
           ,[LocCode]
           ,[StockValue]
           ,[GPTtlBasPr]
           ,[unitMsr2]
           ,[NumPerMsr2]
           ,[SpecPrice]
           ,[CSTfIPI]
           ,[CSTfPIS]
           ,[CSTfCOFINS]
           ,[ExLineNo]
           ,[isSrvCall]
           ,[PQTReqQty]
           ,[PQTReqDate]
           ,[PcDocType]
           ,[PcQuantity]
           ,[LinManClsd]
           ,[VatGrpSrc]
           ,[NoInvtryMv]
           ,[ActBaseEnt]
           ,[ActBaseLn]
           ,[ActBaseNum]
           ,[OpenRtnQty]
           ,[AgrNo]
           ,[AgrLnNum]
           ,[CredOrigin]
           ,[Surpluses]
           ,[DefBreak]
           ,[Shortages]
           ,[UomEntry]
           ,[UomEntry2]
           ,[UomCode]
           ,[UomCode2]
           ,[FromWhsCod]
           ,[NeedQty]
           ,[PartRetire]
           ,[RetireQty]
           ,[RetireAPC]
           ,[RetirAPCFC]
           ,[RetirAPCSC]
           ,[InvQty]
           ,[OpenInvQty]
           ,[EnSetCost]
           ,[RetCost]
           ,[Incoterms]
           ,[TransMod]
           ,[LineVendor]
           ,[DistribIS]
           ,[ISDistrb]
           ,[ISDistrbFC]
           ,[ISDistrbSC]
           ,[LinePoPrss]
           ,[FreeChrgBP]
           ,[LegalText]
           ,[TaxRelev]
           )


SELECT 
	  convert(int, isnull([DocEntry],0)) [DocEntry],
      convert(int, isnull([LineNum],0)) [LineNum],
	  convert(int,isnull([TargetType],0)) [TargetType], 
	  convert(int,0) [TrgetEntry] ,      
      convert(nvarchar(16),[BaseRef]) [BaseRef],
      convert(int,isnull([BaseType] ,0)) [BaseType] ,
	  convert(int,0) [BaseEntry],
      convert(int,0) [BaseLine],
      convert(char(1),[LineStatus]) [LineStatus],
      convert(nvarchar(20),[ItemCode])[ItemCode],
      convert(nvarchar(100),[Dscription])[Dscription],
      convert(numeric,[Quantity])[Quantity],
      null [ShipDate],
      convert(numeric(19,6),[OpenQty])[OpenQty],
      convert(numeric(19,6),[Price])[Price],
      convert(nvarchar(3),[Currency])[Currency], 
	  null [Rate],      
      convert(numeric(19,6),[DiscPrcnt])[DiscPrcnt],
      convert(numeric(19,6),[LineTotal])[LineTotal],
      convert(numeric(19,6),[TotalFrgn])[TotalFrgn],
      convert(numeric(19,6),[OpenSum])[OpenSum],
      convert(numeric(19,6),[OpenSumFC])[OpenSumFC],
	  
      convert(nvarchar(17),[VendorNum])[VendorNum],
      convert(nvarchar(17),[SerialNum])[SerialNum],
      convert(nvarchar(8),[WhsCode])[WhsCode],
      convert(int,isnull([SlpCode],0))[SlpCode],
      convert(numeric(19,6),[Commission])[Commission],
      convert(char(1),[TreeType])[TreeType],
      convert(nvarchar(15),[AcctCode])[AcctCode],
      convert(char(1),[TaxStatus])[TaxStatus],
      convert(numeric(19,6),[GrossBuyPr])[GrossBuyPr],
	  
      convert(numeric(19,6),[PriceBefDi])[PriceBefDi],
      convert(datetime,[DocDate])[DocDate],
      convert(int, isnull([Flags],0))[Flags],
      convert(numeric(19,6),[OpenCreQty])[OpenCreQty],
      convert(char(1),[UseBaseUn])[UseBaseUn],
      convert(nvarchar(20),[SubCatNum])[SubCatNum],
      convert(nvarchar(15),[BaseCard])[BaseCard],
      convert(numeric(19,6),[TotalSumSy])[TotalSumSy],
      convert(numeric(19,6),[OpenSumSys])[OpenSumSys],
      convert(char(1),[InvntSttus])[InvntSttus],
      convert(nvarchar(8),[OcrCode])[OcrCode],
      convert(nvarchar(20),[Project])[Project],
      convert(nvarchar(16),[CodeBars])[CodeBars],
      convert(numeric(19,6),[VatPrcnt])[VatPrcnt],
      convert(nvarchar(8),[VatGroup])[VatGroup],

      convert(numeric(19,6),[PriceAfVAT])[PriceAfVAT],
      convert(numeric(19,6),[Height1])[Height1],
      null [Hght1Unit],
      convert(numeric(19,6),[Height2])[Height2],
      null [Hght2Unit],
      convert(numeric(19,6),[Width1])[Width1],
       null	   [Wdth1Unit],
      convert(numeric(19,6),[Width2])[Width2],
      null [Wdth2Unit],


      convert(numeric(19,6),[Length1])[Length1],
      null [Len1Unit],
      convert(numeric(19,6),[length2])[length2],
      null [Len2Unit],
      convert(numeric(19,6),[Volume])[Volume],
      null [VolUnit],
      convert(numeric(19,6),[Weight1])[Weight1],
      null [Wght1Unit],
      convert(numeric(19,6),[Weight2])[Weight2],
      null [Wght2Unit],
      convert(numeric(19,6),[Factor1])[Factor1],
      convert(numeric(19,6),[Factor2])[Factor2],
      convert(numeric(19,6),[Factor3])[Factor3],
      convert(numeric(19,6),[Factor4])[Factor4],
      convert(numeric(19,6),[PackQty])[PackQty],
      convert(char(1),[UpdInvntry])[UpdInvntry],
      null [BaseDocNum],
      convert(nvarchar(100),[BaseAtCard])[BaseAtCard],
      convert(nvarchar(16),[SWW])[SWW],
      convert(numeric(19,6),[VatSum])[VatSum],
      convert(numeric(19,6),[VatSumFrgn])[VatSumFrgn],
      convert(numeric(19,6),[VatSumSy])[VatSumSy],
      convert(int, isnull([FinncPriod],0))[FinncPriod],
      convert(nvarchar(20),[ObjType])[ObjType],
      convert(int, isnull([LogInstanc],0))[LogInstanc],
      convert(nvarchar(100),[BlockNum])[BlockNum],
      convert(nvarchar(20),[ImportLog])[ImportLog],
      convert(numeric(19,6),[DedVatSum])[DedVatSum],
      convert(numeric(19,6),[DedVatSumF])[DedVatSumF],
      convert(numeric(19,6),[DedVatSumS])[DedVatSumS],
      convert(char(1),[IsAqcuistn])[IsAqcuistn],
      convert(numeric(19,6),[DistribSum])[DistribSum],
      convert(numeric(19,6),[DstrbSumFC])[DstrbSumFC],
      convert(numeric(19,6),[DstrbSumSC])[DstrbSumSC],
      convert(numeric(19,6),[GrssProfit])[GrssProfit],
      convert(numeric(19,6),[GrssProfSC])[GrssProfSC],
      convert(numeric(19,6),[GrssProfFC])[GrssProfFC],
      convert(int, isnull([VisOrder],0))[VisOrder],
      convert(numeric(19,6),[INMPrice])[INMPrice],
      null [PoTrgNum],
      convert(nvarchar(11),[PoTrgEntry])[PoTrgEntry],
      convert(char(1),[DropShip])[DropShip],
      null [PoLineNum],
      convert(nvarchar(254),[Address])[Address],
      convert(nvarchar(8),[TaxCode])[TaxCode],
      convert(char(1),[TaxType])[TaxType],
      convert(nvarchar(20),[OrigItem])[OrigItem],
      convert(char(1),[BackOrdr])[BackOrdr],
      convert(nvarchar(100),[FreeTxt])[FreeTxt],
      convert(char(1),[PickStatus])[PickStatus],
      convert(numeric(19,6),[PickOty])[PickOty],
      null [PickIdNo],
      null [TrnsCode],
      convert(numeric(19,6),[VatAppld])[VatAppld],
      convert(numeric(19,6),[VatAppldFC])[VatAppldFC],
      convert(numeric(19,6),[VatAppldSC])[VatAppldSC],
      convert(numeric(19,6),[BaseQty])[BaseQty],
      convert(numeric(19,6),[BaseOpnQty])[BaseOpnQty],
      convert(numeric(19,6),[VatDscntPr])[VatDscntPr],
      convert(char(1),[WtLiable])[WtLiable],
      convert(char(1),[DeferrTax])[DeferrTax],
      convert(numeric(19,6),[EquVatPer])[EquVatPer],
      convert(numeric(19,6),[EquVatSum])[EquVatSum],
      convert(numeric(19,6),[EquVatSumF])[EquVatSumF],
      convert(numeric(19,6),[EquVatSumS])[EquVatSumS],
      convert(numeric(19,6),[LineVat])[LineVat],
      convert(numeric(19,6),[LineVatlF])[LineVatlF],
      convert(numeric(19,6),[LineVatS])[LineVatS],
      convert(nvarchar(100),[unitMsr])[unitMsr],
      convert(numeric(19,6),[NumPerMsr])[NumPerMsr],
      convert(char(1),[CEECFlag])[CEECFlag],
      convert(numeric(19,6),[ToStock])[ToStock],
      convert(numeric(19,6),[ToDiff])[ToDiff],
      convert(numeric(19,6),[ExciseAmt])[ExciseAmt],
      convert(numeric(19,6),[TaxPerUnit])[TaxPerUnit],
      convert(numeric(19,6),[TotInclTax])[TotInclTax],
      convert(nvarchar(3),[CountryOrg])[CountryOrg],
      convert(numeric(19,6),[StckDstSum])[StckDstSum],
      convert(numeric(19,6),[ReleasQtty])[ReleasQtty],
      convert(char(1),[LineType])[LineType],
      convert(char(1),[TranType])[TranType],
      convert(ntext,[Text])[Text],
      null [OwnerCode],
      convert(numeric(19,6),[StockPrice])[StockPrice],
      convert(char(1),[ConsumeFCT])[ConsumeFCT],
      convert(numeric(19,6),[LstByDsSum])[LstByDsSum],
      convert(numeric(19,6),[StckINMPr])[StckINMPr],
      convert(numeric(19,6),[LstBINMPr])[LstBINMPr],
      convert(numeric(19,6),[StckDstFc])[StckDstFc],
      convert(numeric(19,6),[StckDstSc])[StckDstSc],
      convert(numeric(19,6),[LstByDsFc])[LstByDsFc],
      convert(numeric(19,6),[LstByDsSc])[LstByDsSc],
      convert(numeric(19,6),[StockSum])[StockSum],
      convert(numeric(19,6),[StockSumFc])[StockSumFc],
      convert(numeric(19,6),[StockSumSc])[StockSumSc],
      convert(numeric(19,6),[StckSumApp])[StckSumApp],
      convert(numeric(19,6),[StckAppFc])[StckAppFc],
      convert(numeric(19,6),[StckAppSc])[StckAppSc],
      convert(nvarchar(50),[ShipToCode])[ShipToCode],
      convert(nvarchar(254),[ShipToDesc])[ShipToDesc],
      convert(numeric(19,6),[StckAppD])[StckAppD],
      convert(numeric(19,6),[StckAppDFC])[StckAppDFC],
      convert(numeric(19,6),[StckAppDSC])[StckAppDSC],
      convert(char(1),[BasePrice])[BasePrice],
      convert(numeric(19,6),[GTotal])[GTotal],
      convert(numeric(19,6),[GTotalFC])[GTotalFC],
      convert(numeric(19,6),[GTotalSC])[GTotalSC],
      convert(char(1),[DistribExp])[DistribExp],
      convert(char(1),[DescOW])[DescOW],
      convert(char(1),[DetailsOW])[DetailsOW],
      null [GrossBase],
      convert(numeric(19,6),[VatWoDpm])[VatWoDpm],
      convert(numeric(19,6),[VatWoDpmFc])[VatWoDpmFc],
      convert(numeric(19,6),[VatWoDpmSc])[VatWoDpmSc],
      convert(nvarchar(6),[CFOPCode])[CFOPCode],
      convert(nvarchar(6),[CSTCode])[CSTCode],
      null [Usage],
      convert(char(1),[TaxOnly])[TaxOnly],
      convert(char(1),[WtCalced])[WtCalced],
      convert(numeric(19,6),[QtyToShip])[QtyToShip],
      convert(numeric(19,6),[DelivrdQty])[DelivrdQty],
      convert(numeric(19,6),[OrderedQty])[OrderedQty],
      convert(nvarchar(8),[CogsOcrCod])[CogsOcrCod],
      convert(int, isnull([CiOppLineN],0))[CiOppLineN],
      convert(nvarchar(15),[CogsAcct])[CogsAcct],
      convert(char(1),[ChgAsmBoMW])[ChgAsmBoMW],
      null [ActDelDate],
      convert(nvarchar(8),[OcrCode2])[OcrCode2],
      convert(nvarchar(8),[OcrCode3])[OcrCode3],
      convert(nvarchar(8),[OcrCode4])[OcrCode4],
      convert(nvarchar(8),[OcrCode5])[OcrCode5],
      convert(numeric(19,6),[TaxDistSum])[TaxDistSum],
      convert(numeric(19,6),[TaxDistSFC])[TaxDistSFC],
      convert(numeric(19,6),[TaxDistSSC])[TaxDistSSC],
      convert(char(1),[PostTax])[PostTax],
      convert(char(1),[Excisable])[Excisable],
      convert(numeric(19,6),[AssblValue])[AssblValue],
      null [RG23APart1],--convert(int, isnull([RG23APart1],0))[RG23APart1],
      null [RG23APart2],--convert(int, isnull([RG23APart2],0))[RG23APart2],
      null [RG23CPart1],--convert(int, isnull([RG23CPart1],0))[RG23CPart1],
      null [RG23CPart2],--convert(int, isnull([RG23CPart2],0))[RG23CPart2],
      convert(nvarchar(8),[CogsOcrCo2])[CogsOcrCo2],
      convert(nvarchar(8),[CogsOcrCo3])[CogsOcrCo3],
      convert(nvarchar(8),[CogsOcrCo4])[CogsOcrCo4],
      convert(nvarchar(8),[CogsOcrCo5])[CogsOcrCo5],
      convert(char(1),[LnExcised])[LnExcised],
      null[LocCode],
      convert(numeric(19,6),[StockValue])[StockValue],
      convert(numeric(19,6),[GPTtlBasPr])[GPTtlBasPr],
      convert(nvarchar(100),[unitMsr2])[unitMsr2],
      convert(numeric(19,6),[NumPerMsr2])[NumPerMsr2],
      convert(char(1),[SpecPrice])[SpecPrice],
      convert(nvarchar(2),[CSTfIPI])[CSTfIPI],
      convert(nvarchar(2),[CSTfPIS])[CSTfPIS],
      convert(nvarchar(2),[CSTfCOFINS])[CSTfCOFINS],
      convert(nvarchar(10),[ExLineNo])[ExLineNo],
      convert(char(1),[isSrvCall])[isSrvCall],
      convert(numeric(19,6),[PQTReqQty])[PQTReqQty],
      null [PQTReqDate],
      convert(int, isnull([PcDocType],0))[PcDocType],
      convert(numeric(19,6),[PcQuantity])[PcQuantity],
      convert(char(1),[LinManClsd])[LinManClsd],
      convert(char(1),[VatGrpSrc])[VatGrpSrc],
      convert(char(1),[NoInvtryMv])[NoInvtryMv],
      null [ActBaseEnt],
      null [ActBaseLn],
      null [ActBaseNum],
      convert(numeric(19,6),[OpenRtnQty])[OpenRtnQty],
      null [AgrNo],
      null [AgrLnNum],
      convert(char(1),[CredOrigin])[CredOrigin],
      null [Surpluses],
      null [DefBreak],
      null [Shortages],
      convert(int, isnull([UomEntry],0))[UomEntry],
      convert(int, isnull([UomEntry2],0))[UomEntry2],
      convert(nvarchar(20),[UomCode])[UomCode],
      convert(nvarchar(20),[UomCode2])[UomCode2],
      convert(nvarchar(8),[FromWhsCod])[FromWhsCod],
      convert(char(1),[NeedQty])[NeedQty],
      convert(char(1),[PartRetire])[PartRetire],
      convert(numeric(19,6),[RetireQty])[RetireQty],
      convert(numeric(19,6),[RetireAPC])[RetireAPC],
      convert(numeric(19,6),[RetirAPCFC])[RetirAPCFC],
      convert(numeric(19,6),[RetirAPCSC])[RetirAPCSC],
      convert(numeric(19,6),[InvQty])[InvQty],
      convert(numeric(19,6),[OpenInvQty])[OpenInvQty],
      convert(char(1),[EnSetCost])[EnSetCost],
      convert(numeric(19,6),[RetCost])[RetCost],
      convert(int, isnull([Incoterms],0))[Incoterms],
      convert(int, isnull([TransMod],0))[TransMod],
      convert(nvarchar(15),[LineVendor])[LineVendor],
      convert(char(1),[DistribIS])[DistribIS],
      convert(numeric(19,6),[ISDistrb])[ISDistrb],
      convert(numeric(19,6),[ISDistrbFC])[ISDistrbFC],
      convert(numeric(19,6),[ISDistrbSC])[ISDistrbSC],
      convert(char(1),[LinePoPrss])[LinePoPrss],
      convert(char(1),[FreeChrgBP])[FreeChrgBP],
      convert(nvarchar(254),[LegalText])[LegalText],
      convert(char(1),[TaxRelev]  )[TaxRelev]
  FROM [Egresos].[dbo].[IGE1$]

 -- select * from Egresos.dbo.IGE1 order by DocEntry, LineNum
 -- select * from Egresos.dbo.IGE1$ order by DocEntry, LineNum
