<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SigeorEntities" connectionString="metadata=res://*/SigeorModel.csdl|res://*/SigeorModel.ssdl|res://*/SigeorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.237;Database=SigeorEF;persist security info=True;user id=sa;password=Innovaciones2014;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>