.calendar {    
    background-image: url('../Imagenes/Paginas/calendar_blue.png');
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.lblTitulo {
    color: #337ab7;
}

.lblTabla {
    font: 10px;
    color: white;
    text-decoration: none;
    font-style: normal;
}

.lblTabla:hover {
    font: 10px;
    color: darkgray;
    text-decoration: none;
    font-style: normal;
}

.TextBox1
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px double #737987;
    position: relative;
    bottom: 2px;
}

.TextBoxBusqueda
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px double #737987;
    position: relative;
    bottom: 2px;
    
    background-image: url('/Resources/images/find.png');
    background-position: left;
    padding-left: 20px;
    background-repeat: no-repeat;
}
